[submodule "ForemanApiWrapper"]
	path = ForemanApiWrapper
	url = http://10.4.9.1/tschneider/ForemanApiWrapper.git
[submodule "AnsibleForemanModule/Tests/AnsibleModuleTester"]
	path = AnsibleForemanModule/Tests/AnsibleModuleTester
	url = http://10.4.9.1/tschneider/AnsibleModuleTester.git
